<body style="background-color: whitesmoke">
<div class="main">
  <h2>заглавие</h2>
  <div class="input-group">
  <textarea class="form-control" aria-label="With textarea"
            rows="5" type="text" name="header" #headerInput></textarea>
  </div>

  <br>

  <h2>состояние</h2>
  <div class="input-group">
  <textarea class="form-control" aria-label="With textarea"
            rows="5" type="text" name="condition" #conditionInput></textarea>
  </div>

  <br>


  <button type="button" class="btn btn-secondary" (click)="changeStateOption()">{{stateOption}}</button>

  <h2 *ngIf="stateOption =='штаны'">плечи/грудь/спина/рукав</h2>
  <h2 *ngIf="stateOption =='верхняя'">пояс/длин/в.длин/под/вых</h2>


  <div class="input-group">
    <input type="text" class="form-control" id="shoulders" #shoulders>
    <input type="text" class="form-control" id="chest" #chest>
    <input type="text" class="form-control" id="length" #length>
    <input type="text" class="form-control" id="sleeve" #sleeve>
    <input type="text" class="form-control" id="out" *ngIf="stateOption== 'верхняя'" #out>
  </div>

  <br>

  <button type="button" class="btn btn-secondary" (click)="ready()">ГОТОВО</button>

  <br>
  <br>

  <div class="row">
    <textarea type="text" class="" value='{{finalText}}' rows="10" #formInputText></textarea>
  </div>

  <br>

  <button (click)="copyMessage('This goes to Clipboard')" value="click to copy" class="btn btn-secondary">Copy this</button>

</div>
</body>

